
.container {
  margin: 0 15px;
  padding: 5px;
}

.nav {
  margin: 2em auto;
  display: inline-block;
}

.nav .btn {
  margin: 0 3px;
  border: 1px solid #ececec;
  border-radius: 3px;
  color: #ffffff;
  outline: none;
}

.nav .btn-d3 {
  background: #F37753;
}

.nav .btn-d3:focus, .nav .btn-d3:hover, .nav .btn-d3.active {
  background: #C65C4F;
}

.nav .btn-highchart {
  background: #508CC8;
}

.nav .btn-highchart:focus, .nav .btn-highchart:hover, .nav .btn-highchart.active {
  background: #3F51B5;
}

.map {
  width: 100%;
  height: 500px;
  position: relative;
}

.btn-hide-map {
  position: absolute;
  top: 440px;
  right: 60px;
  cursor: pointer;
  background: grey;
  color: white;
  padding: .6rem;
  z-index: 10;
}

.btn-hide-map:hover {
  background: darkgrey;
}

#info-window {
  margin: 1rem .6rem;
  text-align: left;
}

/* Style for stops table */
.table {
  text-align: left;
  margin: 3rem 0 4rem 0;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  display: table;
}

@media screen and (max-width: 580px) {
  .table {
    display: block;
  }
}

.row {
  display: table-row;
  background: #f6f6f6;
}

@media screen and (max-width: 580px) {
  .row {
    padding: 8px 0;
    display: block;
  }
}

.row:nth-of-type(odd) {
  background: #e9e9e9;
}

.row.header {
  font-weight: 900;
  color: #ffffff;
  background: #ea6153;
}

.cell {
  padding: 6px 12px;
  display: table-cell;
}

@media screen and (max-width: 580px) {
  .cell {
    padding: 2px 12px;
    display: block;
  }
}

/* Default style */

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 50px;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
